{{ partial "header.html" . }}

<div class="container ss-container">
    <main role="main">
        <div class="jumbotron post-lists">
            <h3>Posts</h3>
            <div class="posts">
                 {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
                {{ range $pag.Pages }}
                {{ partial "page-stub.html" . }}
                {{ end }}

                {{ partial "pagination.html" . }}
            </div>
        </div>
    </main>
</div>

{{ partial "footer.html" . }}
