<li class="post-stub">
    <a href="{{ .Permalink }}">
        <h4 class="post-stub-title">{{ .Title }}</h4>
        {{ if .Description }}
            <p class="post-stub-description">{{ .Description }}</p>
        {{ end }}
        {{ with .Params.featured }}
            <span class="post-stub-tag">Featured</span>
        {{ end }}

        {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{ $len := len .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                {{- if lt $index (sub $len 1) -}}, {{ end }}
            {{ end }}
        </p>
        {{ end}}
    </a>
</li>